.header__wrap { /* 전체 배경색 */
    background: #F5FDE8;
    width: 100%;
    padding: 3px;
}

.header__inner { /* 전체 div */
    display: flex;
    align-items: center; 
}

.header__inner .header_logo {
    width: 18%;           /* 로고 영역 너비를 20%로 설정 */
    display: flex;        /* 플렉스 컨테이너로 설정 */
    justify-content: flex-end; /* 로고를 오른쪽으로 정렬 */
}

.header__inner .header_logo a {
    align-items: center;   /* 세로 중앙 정렬 */
    text-align: right;     /* 텍스트를 오른쪽으로 정렬 */
    text-decoration: none;
    display: flex;         /* 플렉스 컨테이너로 설정 */
    margin: 0 50px;       /* 좌우 여백 설정 */
}

.header__inner .header_logo a em {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 500;
}

.header__inner .header__nav {
    width: 69%;            /* 네비게이션 영역 너비를 70%로 설정 */
    text-align: left;
    display: flex;         /* 플렉스 컨테이너로 설정 */
    align-items: center; 
    height: 100%;
      /* 세로 중앙 정렬 */
}


.header__inner .header__nav ul {
   
    display: flex;
    list-style-type: none;
    justify-content: flex-start; /* 왼쪽 정렬 */
    width: 100%;          /* ul 너비를 100%로 설정 */
    
}

.header__inner .header__nav li a {
    color: #2E6840;
    font-size: 18px;
    justify-content: flex-end;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold; 
    margin-right: 30px;
    margin-left: 30px;
     /* 항목 간의 간격 */
}

.header__inner .header__nav li a::before {
    content: '';
    width: calc(100% - 20px);
    height: 2px;
    background-color: #e2eafc;
    position: absolute;
    left: 10px;
    bottom: 4px;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.header__inner .header_login {
    width: 13%;           /* 로그인 영역 너비를 10%로 설정 */
    text-align: right;    /* 오른쪽 정렬 */
    display: flex;        /* 플렉스 컨테이너로 설정 */
    align-items: center;  /* 세로 중앙 정렬 */
}



.header__inner .header_login a em {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 200;
}

.header__inner .header_login a::before {
    content: '';
    width: calc(100% - 20px);
    height: 2px;
    background-color: var(--color_body);
    position: absolute;
    left: 10px;
    bottom: 4px;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.header__inner .header__nav li a:hover::before {
    transform: scaleX(1);
}
